<h1>Edit your room</h1>

<div class="container">
  <%= form_for(@room) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <br>
    <%= f.label :district %>
    <%= f.text_field :district %>
    <br>
    <%= f.label :equipment %>
    <%= f.text_field :equipment %>
    <br>
    <%= f.label :price %>
    <%= f.text_field :price %>
    <br>
    <%= f.submit %>
  <% end %>
</div>
