<div class="container">
  <div class="form-wrapper" style="width: 500px; margin: 0 auto;">
    <h1>Flatpickr Demo</h1>
<!-- changing url -original- url: , search_room_path -->

<%= simple_form_for :search, url: rooms_path, method: :get do |t| %>
<%= t.input :start_date, as: :string, input_html: { class: "datepicker"} %>
<%= t.input :end_date, as: :string, input_html: { class: "datepicker"} %>
 <%= t.input :district, collection: ["Mitte", "Prenzlauer Berg", "Wedding"] %>
  <%= t.submit "search", class: "btn btn-primary" %>
<% end %>

  </div>
</div>


<div class="background_image">

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <% @rooms.each do |room| %>
      <div class="card-product">
      <img src= <%= room.image_url %> />
        <div class="card-product-infos">
          <h2><%= room.name %></h2>
          <p><strong>District:</strong> <%= room.district %></p>
          <p><strong>Address:</strong> <%= room.address %></p>
          <h2 class="price"><strong><%= room.price %></strong> Złoty / hour</h2>
          <p><strong>Equipment:</strong> <%= room.equipment %></p>
          <p><strong>Description:</strong> <%= room.description %></p>
          <%= link_to "Book now", new_room_booking_path(room), class: "btn btn-flat card-product-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
