
<%= render 'shared/flashes' %>

<div class="background_image">

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "RnR_logo.png", class: "rounded-circle"%>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">

  <div class="form-wrapper" style="width: 1100px; margin: 0 auto;">
    <!-- <h1>Flatoickr Demo</h1> -->
<!-- changing url -original- url: , search_room_path -->
    <%= simple_form_for :search, url: rooms_path, method: :get do |t| %>
  <div class="d-flex align-items-top">
      <div class="search1 p-2">
        <%= t.input :start_date, as: :string, input_html: { class: "datepicker"} %>
      </div>

      <div class="search2 p-2">
        <%= t.input :end_date, as: :string, input_html: { class: "datepicker"} %>
      </div>

      <div class="search3 p-2">
        <%= t.input :district, collection: ["Mitte", "Prenzlauer Berg", "Wedding"] %>

      </div>

      <div class="search4 p-2">
        <%= t.submit "Search", class: "btn btn-flat" %>
      </div>

    </div>
    <% end %>
</div>

  <div class="container">
    <% @rooms.each do |room| %>
      <div class="card-product">
      <img src= <%= room.image_url %> />
        <div class="card-product-infos">
          <h2><%= room.name %></h2>
          <p><strong>District:</strong> <%= room.district %></p>
          <p><strong>Address:</strong> <%= room.address %></p>
          <h2 class="price"><strong><%= room.price %></strong> Złoty / hour</h2>
          <p><strong>Equipment:</strong> <%= room.equipment %></p>
          <p><strong>Description:</strong> <%= room.description %></p>
          <%= link_to "Book now", new_room_booking_path(room), class: "btn btn-flat card-product-btn" %>
        </div>
      </div>
    <% end %>
  </div>

    <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Rock'in'Rooms is made with <i class="fas fa-heart"></i> at Le Wagon.
    </div>
  </div>
</div>
</div>