<h1>Rooms#index</h1>
<p>Find me HELLO HELLO in app/views/rooms/index.html.erb</p>

<ul>
  <% @rooms.each do |room| %>
    <li> Room: <%= room.name %> Address: <%= room.address %> Price: <%= room.price %>
   Description: <%= room.description %> Equipment: <%= room.equipment %> District: <%= room.district %></li>
  <% end %>
</ul>
