<div class="container">
  <h1>Create a new room</h1>
  <br>
  <%= simple_form_for(@room) do |f| %>
    <%= f.input :name %>
    <br>
    <%= f.input :description %>
    <br>
    <%= f.input :address %>
    <br>
    <%= f.input :district %>
    <br>
    <%= f.input :equipment %>
    <br>
    <%= f.input :price %>
    <br>
    <%= f.submit %>
  <% end %>
</div>

<!-- <form action="/restaurants" method="get">
  <input type="text" name="food_type" placeholder="What kind of food?">
  <input type="submit">
</form> -->
