<h1>Rooms#new</h1>
<p>Find me in app/views/rooms/new.html.erb</p>

<div class="container">
  <%= simple_form_for(@room) do |f| %>
    <%= f.input :name %>
    <br>
    <%= f.input :description %>
    <br>
    <%= f.input :address %>
    <br>
    <%= f.input :district %>
    <br>
    <%= f.input :equipment %>
    <br>
    <%= f.input :price %>
    <br>
    <%= f.submit %>
  <% end %>
</div>

<!-- <form action="/restaurants" method="get">
  <input type="text" name="food_type" placeholder="What kind of food?">
  <input type="submit">
</form> -->
