<!--------------Showing booked room's details  ------------->
<div class="container bookings">
  <h1>Thank you for your booking!</h1>
  <p>Here you can find details of your confirmation:</p>

      <div class="confirmation_photo">
      <img src= <%= @room.image_url %> />
      </div>
      <br>
      <!-- find out duration -->

      <% duration = (Booking.last[:end_time].to_time - Booking.last[:start_time].to_time)/3600 %>
      <% duration *=  @room.price %>

      <% @bookings.each do |booking| %>
        <div class="card-product">
        <img src= <%= booking.room.image_url %> />
          <div class="card-product-infos">
            <h2><%= booking.room.name %></h2>
            <p><strong>District:</strong> <%= booking.room.district %></p>
            <p><strong>Address:</strong> <%= booking.room.address %></p>
            <h2 class="price"><strong><%= booking.room.price %></strong> Złoty / hour</h2>
            <p><strong>Equipment:</strong> <%= booking.room.equipment %></p>
            <p><strong>Description:</strong> <%= booking.room.description %></p>
            <p><strong>Start date:</strong> <%= booking.start_time %></p>
            <p><strong>End date:</strong> <%= booking.end_time %></p>
            <div class="card-product-div">
            <%= link_to "Delete", booking_path(booking), method: :delete,  class: "btn btn-flat" %>
            </div>
            <br>
          </div>
        </div>
      <% end %>
  </div>
<br><br>

<div class="container">

</div>

